* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: fit-content;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.logo {
  text-align: center;
  margin: 2.3rem auto;
}

.tip-calculator {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80vw;
  padding: 7%;
  border-radius: 20px;
}

.section-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

label {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  margin-bottom: 0.3rem;
  width: fit-content;
}

input {
  width: 100%;
  border-radius: 5px;
  border: solid 2px;
  border-color: hsl(189, 41%, 97%);
  padding: 5px;
  padding-right: 18px;
  background-position: 17px 15px;
  background-repeat: no-repeat;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  font-size: 24px;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  font-family: "Space Mono", monospace;
}

input:focus {
  border-color: hsl(172, 67%, 45%);
}

.bill-input {
  background-image: url("images/icon-dollar.svg");
}

.bill-input {
  margin-bottom: 35px;
}

.tip {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.tips {
  width: 45%;
  background-color: hsl(183, 100%, 15%);
  color: white;
  padding: 1% 2%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 27px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.tips:hover {
  background-color: rgb(129, 219, 215);
  color: hsl(183, 100%, 15%);
}

.active-tip {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  font-weight: bolder;
}

.labels-people,
.labels-bill{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.people-input {
  background-image: url("images/icon-person.svg");
  margin-bottom: 2.4rem;
}

.result {
  width: 100%;
  background-color: hsl(183, 100%, 15%);
  color: white;
  padding: 39px 21px;
  border-radius: 12px;
}

.tip-amount,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}

.person {
  font-size: 12px;
  color: hsl(184, 14%, 56%);
  font-weight: 700;
}

.amount {
  font-size: 28px;
  color: hsl(172, 67%, 45%);
  font-weight: 700;
}

.reset {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  padding: 9px 0 9px 0;
  border-radius: 5px;
  cursor: pointer;
}

.reset:hover {
  background-color: rgb(129, 219, 215);
}

#tip-custom {
  width: 45%;
}

#tip-custom input {
  box-sizing: border-box;
  width: 100%;
}

.people {
  display: flex;
  justify-content: space-between;
}

.error {
  color: rgb(218, 88, 88);
  display: none;
}


.attribution {
  position: relative;
  margin: 2rem auto;
  text-align: center;
  top: 0;
}

.contact {
  width: 100%;
  height: 30px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1175px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  input {
    width: 100%;
    padding: 9px;
    background-position: 17px 18px;
    border-radius: 5px;
  }

  .tip-calculator {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    padding: 2rem;
  }

  .inputs {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  .bill-input {
    margin-bottom: 3rem;
  }

  .tip {
    grid-template-columns: 135px 135px 135px;
    row-gap: 1.2em;
    column-gap: 17px;
    margin-bottom: 3rem;
  }

  .tips {
    width: 30%;
    padding: 2%;
    margin-bottom: 1%;
  }

  #tip-custom {
    width: 30%;
  }

  .result {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* margin-left: auto; */
  }

  .amount {
    font-size: 50px;
  }

  .reset {
    padding: 13px 0;
    margin-top: auto;
  }

  .attribution {
    bottom: 10vh;
  }
}