* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    font-family: 'Cutive Mono', monospace;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(68, 68, 68);
}

.title {
    margin: 60px 0;
    transition: 100ms ease-in-out;
}

.button {
    background-color: #e0e0de;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    border-style: solid;
    border-color: #646464;
    border-width: 1px;
    box-shadow: 5px 5px 1px darkgrey;
    transition: 90ms ease-in-out;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(209, 209, 208);
    box-shadow: 5px 5px 1px grey;
    transition: 90ms ease-in-out;
}

.button:active{
    background-color: rgb(238, 238, 236);
    box-shadow: 5px 5px 1px darkgrey;
    transition: 90ms ease-in-out;
    color: rgb(143, 143, 143);
}

.contact {
    width: 100%;
    height: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.github-pic{
    width: 40px;
}

/* COLORS */

.red{
    background-color: rgba(252, 93, 93, 0.8);
    transition: 300ms ease-in-out;
}

.blue{
    background-color: rgba(86, 86, 250, 0.8);
    transition: 300ms ease-in-out;
}

.purple{
    background-color: rgb(146, 69, 146, 0.8); 
    transition: 300ms ease-in-out;
    
}

.orange {
    background-color: rgb(245, 195, 102, 0.8);
    transition: 300ms ease-in-out;
}

.pink{
    background-color: rgb(255, 177, 214);
    transition: 300ms ease-in-out;
}