// font-family: 'Amatic SC', cursive;
// font-family: 'Mitr', sans-serif;
// font-family: 'Scope One', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./xmas-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(53, 134, 46);
}

.holiday-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.holiday-name,
.holiday-date{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: rgb(102, 18, 18);
} 

.card {
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgb(133, 44, 44);
}

.picture-section {
    height: 70%;
    background-image: url(./xmas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.count-section {
    height: 30%;
    display: flex;
    justify-content: center;
    background-color: rgb(29, 88, 29);
}

.count-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.expired {
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
    color: rgb(224, 198, 198);
}

.tile {
    background-color: rgb(105, 143, 69);
    border-radius: 10px;
    width: 55px;
    height: 75px;
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    text-transform: lowercase;
    box-shadow: 5px 10px 20px rgb(53, 99, 53);
}

.number {
    font-weight: 900;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.text-tile {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(14, 63, 21);
}


.attribution {
  position: relative;
  text-align: center;
  bottom: 3vh;
}

.contact {
  width: 100%;
  height: 30px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.github-pic{
  width: 40px;
}

@media only screen and (max-width: 1000px) {

    .card {
        width: 40vw;
    }

    .tile {
        width: 7vw;
    }
    
}

@media only screen and (max-width: 700px) {

    .card {
        width: 50vw;
    }

    .tile {
        width: 9vw;
    }
}